NAMStudio/bin/Debug/net8.0-windows/NAMStudio.deps.json
NAMStudio/bin/Debug/net8.0-windows/NAMStudio.dll
NAMStudio/bin/Debug/net8.0-windows/NAMStudio.exe
NAMStudio/bin/Debug/net8.0-windows/NAMStudio.pdb
NAMStudio/bin/Debug/net8.0-windows/NAMStudio.runtimeconfig.json
NAMStudio/bin/Debug/net8.0-windows/NAudio.Asio.dll
NAMStudio/bin/Debug/net8.0-windows/NAudio.Core.dll
NAMStudio/bin/Debug/net8.0-windows/NAudio.dll
NAMStudio/bin/Debug/net8.0-windows/NAudio.Midi.dll
NAMStudio/bin/Debug/net8.0-windows/NAudio.Wasapi.dll
NAMStudio/bin/Debug/net8.0-windows/NAudio.WinForms.dll
NAMStudio/bin/Debug/net8.0-windows/NAudio.WinMM.dll
NAMStudio/obj/NAMStudio_03edju10_wpftmp.csproj.nuget.dgspec.json
NAMStudio/obj/NAMStudio_03edju10_wpftmp.csproj.nuget.g.props
NAMStudio/obj/NAMStudio_03edju10_wpftmp.csproj.nuget.g.targets
NAMStudio/obj/NAMStudio_ewwgaca2_wpftmp.csproj.nuget.dgspec.json
NAMStudio/obj/NAMStudio_ewwgaca2_wpftmp.csproj.nuget.g.props
NAMStudio/obj/NAMStudio_ewwgaca2_wpftmp.csproj.nuget.g.targets
NAMStudio/obj/NAMStudio_l2wqrtjx_wpftmp.csproj.nuget.dgspec.json
NAMStudio/obj/NAMStudio_l2wqrtjx_wpftmp.csproj.nuget.g.props
NAMStudio/obj/NAMStudio_l2wqrtjx_wpftmp.csproj.nuget.g.targets
NAMStudio/obj/NAMStudio.csproj.nuget.dgspec.json
NAMStudio/obj/NAMStudio.csproj.nuget.g.props
NAMStudio/obj/NAMStudio.csproj.nuget.g.targets
NAMStudio/obj/project.assets.json
NAMStudio/obj/project.nuget.cache
NAMStudio/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
NAMStudio/obj/Debug/net8.0-windows/App.g.cs
NAMStudio/obj/Debug/net8.0-windows/apphost.exe
NAMStudio/obj/Debug/net8.0-windows/MainWindow.baml
NAMStudio/obj/Debug/net8.0-windows/MainWindow.g.cs
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_03edju10_wpftmp.AssemblyInfo.cs
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_03edju10_wpftmp.AssemblyInfoInputs.cache
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_03edju10_wpftmp.assets.cache
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_03edju10_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_03edju10_wpftmp.GlobalUsings.g.cs
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_03edju10_wpftmp.sourcelink.json
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_ewwgaca2_wpftmp.AssemblyInfo.cs
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_ewwgaca2_wpftmp.AssemblyInfoInputs.cache
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_ewwgaca2_wpftmp.assets.cache
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_ewwgaca2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_ewwgaca2_wpftmp.GlobalUsings.g.cs
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_ewwgaca2_wpftmp.sourcelink.json
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_i4ipebnv_wpftmp.AssemblyInfo.cs
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_i4ipebnv_wpftmp.AssemblyInfoInputs.cache
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_i4ipebnv_wpftmp.assets.cache
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_i4ipebnv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_i4ipebnv_wpftmp.GlobalUsings.g.cs
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_i4ipebnv_wpftmp.sourcelink.json
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_l2wqrtjx_wpftmp.AssemblyInfo.cs
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_l2wqrtjx_wpftmp.AssemblyInfoInputs.cache
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_l2wqrtjx_wpftmp.assets.cache
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_l2wqrtjx_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_l2wqrtjx_wpftmp.GlobalUsings.g.cs
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_l2wqrtjx_wpftmp.sourcelink.json
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_MarkupCompile.cache
NAMStudio/obj/Debug/net8.0-windows/NAMStudio_MarkupCompile.lref
NAMStudio/obj/Debug/net8.0-windows/NAMStudio.AssemblyInfo.cs
NAMStudio/obj/Debug/net8.0-windows/NAMStudio.AssemblyInfoInputs.cache
NAMStudio/obj/Debug/net8.0-windows/NAMStudio.assets.cache
NAMStudio/obj/Debug/net8.0-windows/NAMStudio.csproj.AssemblyReference.cache
NAMStudio/obj/Debug/net8.0-windows/NAMStudio.csproj.CoreCompileInputs.cache
NAMStudio/obj/Debug/net8.0-windows/NAMStudio.csproj.FileListAbsolute.txt
NAMStudio/obj/Debug/net8.0-windows/NAMStudio.csproj.Up2Date
NAMStudio/obj/Debug/net8.0-windows/NAMStudio.dll
NAMStudio/obj/Debug/net8.0-windows/NAMStudio.g.resources
NAMStudio/obj/Debug/net8.0-windows/NAMStudio.GeneratedMSBuildEditorConfig.editorconfig
NAMStudio/obj/Debug/net8.0-windows/NAMStudio.genruntimeconfig.cache
NAMStudio/obj/Debug/net8.0-windows/NAMStudio.GlobalUsings.g.cs
NAMStudio/obj/Debug/net8.0-windows/NAMStudio.pdb
NAMStudio/obj/Debug/net8.0-windows/NAMStudio.sourcelink.json
NAMStudio/obj/Debug/net8.0-windows/ref/NAMStudio.dll
NAMStudio/obj/Debug/net8.0-windows/refint/NAMStudio.dll
