<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- wipe out the offline-only config -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <!-- wipe old mappings and allow everything from nuget.org -->
    <clear />
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
